# Default ignored files
/../../../Diseño e implementacion de software/CalculadoraFlow/.idea/shelf/
/../../../Diseño e implementacion de software/CalculadoraFlow/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Diseño e implementacion de software/CalculadoraFlow/.idea/httpRequests/
# Datasource local storage ignored files
/../../../Diseño e implementacion de software/CalculadoraFlow/.idea/dataSources/
/../../../Diseño e implementacion de software/CalculadoraFlow/.idea/dataSources.local.xml
